<ion-view title="Accueil">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-compose" ng-click="addAdvertisement()" title="Ajouter du contenu"></button>
    </ion-nav-buttons>
    <ion-content scroll="true">
        <div class="row">
            <div class="col home">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ion-list class="list" ng-repeat="advertisement in advertisements">
                    <ion-item class="item item-thumbnail-left" href="#/app/advertisements/{{advertisement.id}}">
                        <img src="{{adimgpath + advertisement.image}}">
                        <ads-field type="text" name="{{advertisement.ad_headline}}" mode="mode">
                        </ads-field>
                        <ads-field type="text" name="{{advertisement.ad_text}}" mode="mode">
                        </ads-field>
                    </ion-item>
                </ion-list>
            </div>
            <div class="col">
            </div>
        </div>
    </ion-content>
</ion-view>
