/* Empty. Add your own CSS if you like */

.home {
    background: url('../img/home.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
